@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}
.main {
 
     background-image: url("Asset/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height:660px;
    position: relative;
}


.main .box{
    height: 100%;
    width: 100%;
    opacity:0.59;
    background-color:black;
    position:absolute;
    top:0;
}
nav{
    max-width: 60vw;
    height: 100px;
    margin: auto;
    display: flex;
justify-content: space-between;
    align-items: center; 
}
nav img{
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}
nav button{
     position: relative;
    z-index: 10;
}
.hero{
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    font-family: 'Martel Sans', sans-serif;
    padding: 0px 30px;
}

.hero> :nth-child(1){
   
     font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}
.hero> :nth-child(2){
     font-weight: 400;
    font-size: 24px;
        text-align: center;
}

.hero> :nth-child(3){
     font-weight: 400;
    font-size: 20px;
        text-align: center;
}
.separation{
    background-color: rgb(58, 58, 58);
    height: 7px;
}

.btn{
   padding: 3px 9px 3px 9px;
    font-weight: 400;
    color: white;
    font-size: large;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}
.btn-red{
    margin-top: 71px;
    background-color: red;
    color: white;
  padding: 15px 33px;
    border-radius: 4px;
    font-weight: 400;
    border-radius: 7px;
    border: 1px solid red;
}
.btn-red-sm{
     background-color: red;
    color: white;
 padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
     border: 1px solid red;

}
.main input{
    margin-top: 71px;
      background-color:rgb(23, 23, 23,0.7);
    color: white;
    padding: 17px 161px 14px 25px;
    font-size: 16px;
    border-radius: 7px;
    border: 1px solid rgba(101, 100, 100, 0.5); 
}
.hero-buttons{
    display:flex ;
    justify-content: center;
    align-items: center;
    gap :16px;
}
.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
   
}
@media screen and (max-width: 1300px) {
    .first{
        flex-wrap: wrap;
    }

}

.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 86px;
    right: 0;
    width: 490px;
}


section.first>div {
    padding: 34px 0px;
    display: flex;
    flex-direction: column ;
}
section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;
    
}
.faq{
    background-color: black;
    color: white;
    padding: 34px;
    font-size: 24px;
}
.faqbox{
       transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 10px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
    border-radius: 4px;
}
.faq h2{
    text-align: center;
   
}
.faqbox:hover{
     background-color: #414141;
    color: white;

}
.faqbox svg{
    padding-top: 8px;
    filter: invert(1);
}
footer{
    color: white;
     max-width: 60vw;
    margin: auto;
    padding:2 4px
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color:white;
   
}
.questions{
    padding:34px 0px ;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer a{
    font-size: 14px;
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 1300px) {
   
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color:white;
    gap: 25px;
   
}
}
@media screen and (max-width: 1300px) {
    nav{
        max-width: 90vw;
    }
    /* .main input {
        padding: 13px 0px 12px 13px;
        font-size: 14px;
    } */
.footer a{
    font-size: 14px;
    text-decoration: none;
    color: white;
}
.secImg img {
    width: 305px;
   
}
    .secImg video {
    
    width: 305px;
}
.hero> :nth-child(1){
     font-family: 'Poppins', sans-serif;
    font-size: 32px;
    margin-top: 2px;
}
.hero> :nth-child(2){
     font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.hero> :nth-child(3){
     font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.hero-buttons{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap :16px;
}
.faq h2{
    text-align: center;
font-size: 32px;}
footer{
    max-width: 90vw;

}
.footer-item{
align-items: center;
}
.hero{
    margin-top: 20px;
}
.main input {
    margin-top: 15px;
    padding: 8px 34px 8px 14px;
}
.btn-red {
  margin-top: 15px;
  padding: 8px 26px;
}
.faqbox {
  font-size: 12px;
  cursor: pointer;
  padding: 12px;
}
.secImg video {
    top: 70px;
    
}

}